<div class="album-image-header">
    <a href="{{urlForAlbum parent_album}}">Back to {{parent_album.name}}</a>
    <div class="album-image-nav">
        {{#if previous_image}}
            <a href="{{urlForAlbumImage parent_album previous_image}}">Previous</a>
        {{else}}
            <div></div>
        {{/if}}
        {{#if next_image}}
            <a href="{{urlForAlbumImage parent_album next_image}}">Next</a>
        {{/if}}
    </div>
    <div class="album-image-nav-previews">
        <ul class="image-preview-list">
            {{#each images}}
                {{#if (imageIsEqual image this)}}
                    <li class="current-image">
                {{else}}
                    <li>
                {{/if}}
                    <a href="{{urlForAlbumImage parent_album this}}" class="preview-container"><img src="{{urlForThumbnailMini this.thumbnail}}" alt=""/></a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
