{{#partial "body"}}
    <div class="image-show-thumbnail-container">
        <a href="{{urlForImageFull image}}">
            <img src="{{urlForThumbnail image.thumbnail}}" alt=""/>
        </a>
    </div>
    <div class="image-show-link-container">
        <a href="{{urlForImageFull image}}">View full-size</a>
    </div>
    <div class="image-show-albums">
        <h3 class="subsection-title">Albums</h3>
        <ul class="image-show-album-list">
            {{#each albums}}
                <li class="image-container">
                    <a href="{{urlForAlbum this}}">{{this.name}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
{{/partial}}

{{#partial "title"}}
    {{pageTitle "Image detail"}}
{{/partial}}

{{> layouts/main.hbs }}

